
    <form (ngSubmit)="onHandleSignin()" [formGroup]="userForm">
      <div class="container">
        <h1>Đăng nhập</h1>
        <hr>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" formControlName="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" formControlName="password" required>
    
        <hr>
    
        <button type="submit" class="registerbtn">Đăng nhập</button>
      </div>
      
      <div class="container signin">
        <p>Bạn chưa có tài khoản? <a href="#">Đăng ký</a>.</p>
      </div>
    </form>
 